@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: BitPotion;
    src: url(fonts/BitPotionExt.ttf);
    font-style: normal
}

/* .container-fluid{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2cm;
} */

#scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ef7215;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
}

#scrollToTop:active {
  background: #893101;
}

a {
  color: #000000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: #36363c
}

.contact a:hover {
  text-decoration: none;
}

body{
	font-family: 'Raleway', Arial;
	background-color: #f5f5dc;
}

.name {
  font-style: normal;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 20;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 #ef7215;
  box-shadow: inset 0 -3px 0 #ef7215;
}


.greeting,
.tagline {
    font-size: 2.5rem
}


body .greeting {
  font-family: 'BitPotion', monospace;
  font-size: 6rem;
}

.greeting .wave-hand {
    margin-left: 10px;
    cursor: pointer
}

.wrap .tagline {
    line-height: 50px;
}

.wrap {
    max-width: 1000px;
    position: relative;
}

.wrap .icon {
    float: right;
}

.intro {
    padding: 20px 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

.tagline {
    font-weight: 300;
    max-width: 700px;
    position: relative;
}

.tagline .name {
    font-weight: 400
}

.wrap .icon {
    float: right;
}

.icon {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width:200px;
    height:200px;
    padding-left: 220px;
}

.contact {
    font-size: 1.25rem;
    font-weight: 400
}

.highlight {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #ef7215;
    box-shadow: inset 0 -3px 0 #ef7215;
}

.highlight:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #ef7215;
    box-shadow: inset 0 -33px 0 0 #ef7215;
    color: #fff;
}

.gif-section {
    width: 65px;
    height: 100px;
    margin-top: 20px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.background {
  height: 350px;
}

.title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 80px;
    margin-right: 200px;
    color: #ef7215;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px

}

body .section,
html .section {
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    margin-left: 50px;
    padding: 100px 170px
}


.content{
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px
}

.content p {
    margin-top: 0;
    margin-bottom: 25px
}

ul {
  margin: 10px 30px;
  list-style: none;
  padding: 0
}

.skills {
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
    height: 200px;
}

.skill-title {
  margin: 3px 30px;
}

.skills .skill-title {
    font-weight: 700;
    color: #36363c;
    text-transform: uppercase
}

.skills .skill-description {
    margin: 3px 5px;
    font-size: .9rem
}

li a:hover {
    text-decoration: underline;
}

p a:hover{
  text-decoration: none;
}

.project-title a:hover {
   text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.project {
    height: auto;
}

.projects a:after {
    display: none
}

.projects .project-cover {
    max-width: 700px;
    overflow: visible;
    margin: 0
}

.projects .project-cover a {
    display: block
}

.project-cover img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom
}

.project-title {
  font-weight: 700;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 500px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    float: right;
    padding: 50px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.footer_contact .contact_bottom {
    margin: 0 7px;
}

.footer_contact {
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
}

.footer a:hover {
  text-decoration: none;
}

.footer_left {
    float: left;
    padding: 50px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

/*@media bootstraps*/

@media screen and (max-width:1280px) {
    body .section,
    html .section {
        padding: 100px
    }
}

@media screen and (max-width:1024px) {
    body .section,
    html .section {
        padding: 50px
    }
}

@media screen and (max-width:768px) {
    body .section,
    html .section {
        display: block
    }
}

@media screen and (max-width:480px) {
    body .section,
    html .section {
        padding: 50px 35px
    }
}

@media screen and (max-width:768px) {
    .gif-section {
        display:none;
    }
}

@media screen and (max-width:1024px) {
    body .title {
        margin-right: 50px
    }
}

@media screen and (max-width:850px) {
    body .title {
        width: 150px
    }
}

@media screen and (max-width:768px) {
    body .title {
        text-align: left;
        width: auto
    }
}

@media screen and (max-width:768px) {
    body .content {
        padding-top: 30px;
        padding-left: 50px
    }
}

@media screen and (max-width:480px) {
    body .content {
        padding-left: 30px
    }
}

@media screen and (max-width:630px) {
    .intro {
        padding: 120px 70px
    }
}

@media screen and (max-width:550px) {
    .intro {
        padding: 120px 50px
    }
}

@media screen and (max-width:480px) {
    .intro {
        padding: 70px 50px
    }
}


@media screen and (max-width:1024px) {
    .greeting,
    .tagline {
        font-size: 2.25rem
    }
}

@media screen and (max-width:768px) {
    .greeting,
    .tagline {
        font-size: 2rem
    }
}

@media screen and (max-width:550px) {
    .greeting,
    .tagline {
        font-size: 1.75rem
    }
}

@media screen and (max-width:360px) {
    .greeting,
    .tagline {
        font-size: 1.5rem
    }
}

@media screen and (max-width:330px) {
    .greeting,
    .tagline {
        font-size: 1.4rem
    }
}

@media screen and (max-width:550px) {
    .wrap .icon {
        float: none;
        display: none;
    }
}

@media screen and (max-width:900px) {
    .tagline {
        max-width: 500px;
    }
}

@media screen and (max-width:550px) {
    .contact {
        font-size: 1rem
    }
}

@media screen and (max-width:630px) {
    .skills {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:630px) {
    .skills .criteria {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px
    }
}

@media screen and (max-width:1280px) {
    .featured-projects .project {
        width: 115%
    }
}

@media screen and (max-width:1024px) {
    .projects .project {
        width: 105%
    }
}

@media screen and (max-width:768px) {
    .projects .project {
        width: 100%;
        display: block;
        margin-bottom: 70px
    }
}

@media screen and (max-width:768px) {
  p {
        width: 100%;
        margin-top: 25px;
        margin-left: 0
    }
}


@media screen and (max-width:1024px) {
    .footer {
        padding: 50px
    }
}

@media screen and (max-width:630px) {
    .footer {
        display: block
    }
}

@media screen and (max-width:480px) {
    .footer {
        padding: 50px 30px
    }
}

@media screen and (max-width:630px) {
    .footer_left {
        width: auto;
        text-align: center;
        margin-bottom: 25px
    }
}

@media screen and (max-width:630px) {
    .footer_left .contact_bottom,
    .footer_left .top {
        display: inline-block
    }
}

@media screen and (max-width:480px) {
    .footer_left .contact_bottom,
    .footer_left .top {
        display: block
    }
}

@media screen and (max-width:630px) {
    .contact_bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media screen and (max-width:1024px) {
    .contact_bottom a {
        margin: 0 10px
    }
}

@media screen and (max-width:850px) {
    .contact_bottom a:after {
        display: none
    }
}

@media screen and (max-width:850px) {
    .contact_bottom a strong {
        display: none
    }
}
