@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: BitPotion;
    src: url(fonts/BitPotionExt.ttf);
    font-style: normal
}

#scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ef7215;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
}

#scrollToTop:active {
  background: #893101;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*2XL*/
@media (max-width: 1536px){
  .container {
    max-width: 1280px;
  }
}

/*XL*/
@media (max-width: 1280px){
  .container {
    max-width: 1024px;
  }
}

/*LG*/
@media (max-width: 1024px){
  .container {
    max-width: 768px;
  }
}

/*MED*/
@media (max-width: 768px){
  .container {
    max-width: 640px;
  }
}

/*SM*/
@media (max-width: 640px){
  .container {
    max-width: 475px;
  }
}

/*XS*/
@media (max-width: 475px){
  .container {
    width: 100%;
  }
}

a {
  color: #000000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: #36363c
}

.contact a:hover {
  text-decoration: none;
}

body{
	font-family: 'Raleway', Arial;
	background-color: #f5f5dc;
}

.name {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: purple;
}


.greeting,
.tagline {
    font-size: 2.5rem
}


body .greeting {
  font-family: 'BitPotion', monospace;
  font-size: 6rem;
}

.greeting .wave-hand {
    margin-left: 10px;
    cursor: pointer
}

.wrap .tagline {
    max-width: 90%;
    position: relative;
}

.wrap .icon {
    float: right;
}

.intro {
    padding: 20px 20px;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: left;
    width: 100%;
    margin: auto
}

.tagline {
    font-weight: 300;
    max-width: auto;
    position: relative;
}

.tagline .name {
    font-weight: 400
}

.wrap .icon {
    float: right;
}

.icon {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width:inherit;
    height:inherit;
    padding-left: 20%;
}

.contact {
    font-size: 1.25rem;
    font-weight: 400
}

.highlight {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #ef7215;
    box-shadow: inset 0 -3px 0 #ef7215;
}

.highlight:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #ef7215;
    box-shadow: inset 0 -33px 0 0 #ef7215;
    color: #fff;
}

.gif-section {
    width: 65px;
    height: 100px;
    margin-top: 20px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.background {
  height: 100%;
}

.title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 10%;
    margin-right: 5%;
    color: #ef7215;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px

}

body .section,
html .section {
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    margin-left: 5%;
    padding: 30px 170px
}


.content{
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 90%;
    margin-right: 5%;
}

.content p {
    margin-top: 0;
    margin-bottom: 2%;
    max-width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

ul {
  margin: 10px 30px;
  list-style: none;
  padding: 0
}

.skills {
    margin-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
    height: 50%;
}

.skill-title {
  margin: 3px 30px;
}

.skills .skill-title {
    font-weight: 700;
    color: #36363c;
    text-transform: uppercase
}

.skills .skill-description {
    margin: 3px 5px;
    font-size: .9rem
}

li a:hover {
    text-decoration: underline;
}

p a:hover{
  text-decoration: none;
}

p {
  width: 90%;
  overflow-x: hidden;
}

.project-title a:hover {
   text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.project {
    display: block;
    height: auto;
    width: 90%;
    overflow-x: hidden;
    max-width: 100%;
}

.projects a:after {
    display: none
}

.projects .project-cover {
    width: 80%;
    height: 80%;
    max-width: 100%;
    /*overflow: inherit;*/
    overflow-x: hidden;
    margin: 0
}

.projects .project-cover a {
    display: block
}

.project-cover img {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
    vertical-align: bottom
}

.project-title {
  font-weight: 700;
  width: 400px;
  margin-bottom: 10px;
  margin-right: 500px;
}

.footer {
    float: right;
    padding: 50px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.footer_contact .contact_bottom {
    margin: 0 7px;
}

.footer_contact {
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
}

.footer a:hover {
  text-decoration: none;
}

.footer_left {
    float: left;
    padding: 50px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    margin-bottom: 25px;
}

/*@media bootstraps*/

@media screen and (max-width:1280px) {
    body .section,
    html .section {
        padding: 100px
    }
}

@media screen and (max-width:1024px) {
    body .section,
    html .section {
        padding: 50px
    }

    .icon, .wrap {
      padding-left: auto;
      padding-right: auto;
      padding-bottom: 20%;
      padding-top: auto;
      width: auto;
      height: auto;
    }

    .intro {
      width: auto;
      height: auto;
    }

    .content {
      display: block;
      width: 100%;
      height: 100%;
    }

    .project {
      display: block;
      width: 100%;
      height: auto;
    }

    .project-cover img {
      width: inherit;
      height: inherit;
      max-width: 100%;
      max-height: 100%;
      vertical-align: bottom
    }

    .section, .skills {
      width: auto;
      height: 70%;
      display: block;
    }

    .criteria {
      padding: auto;
      padding-bottom: 2%;
      display: block;
    }

      body .section,
      html .section, .p {
          display: block
      }

      .intro .tagline {
        max-width: 120%;
      }

      .tagline .name {
        width: inherit;
      }

      #scrollToTop {
        width: 90px;
        height: 90px;
      }

      .title {
        display: block;
        padding-bottom: 10%;
      }

      .tagline {
        font-weight: 300;
        max-width: 700px;
        font-size: 1.5rem;
        position: relative;
      }

      .footer {
        display: block;
        line-height: 200%;
        padding-left: 10%;
      }
}
